<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <div style="position: relative; width: 1300px; height: 600px;">
    <img src="{{Login_image}}" width="1300" height="600" alt="">
    <span style="position: absolute; top: 100; left: 450;"><font color="#4682B4"><h1>Genshin database</h1></font></span>
    <span style="position: absolute; top: 200; left: 300; right:300"><font color=#28004D><h4>This web is for genshin players to search information about the game such as characters, weapons, materials, as well as information of users.</h4></font></span>
  <form method="POST">
<span style="position: absolute; top: 350; left: 500;">UID   : <input type="text" name="uid"><br/>
   Name: <input type="text" name="uname"><br/>
  <input name="login" type="submit" value="login"><br/>
    <font color=#CE0000>{{wrong}}<font color=#28004D></span>
  </p>
</form>
  </div>



</body>


</html>
