<html>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>

<body>
<h2>Top Users</h2>
  <div>
        <table border = "1px">
            <tr style="background: #BCD2EE">
                <th>uid</th>
                <th>name</th>
                <th>level</th>
                <th>activate_day</th>
                <th>number_of_achievements</th>
                <th>owning_character_number</th>
                <th>average_character_level</th>
                <th>average_character_friendship</th>
            </tr>
            {%  for row in data_u %}
            <tr>
                <th>{{ row[0] }}</th>
                <th>{{ row[1] }}</th>
                <th>{{ row[2] }}</th>
                <th>{{ row[3] }}</th>
                <th>{{ row[4] }}</th>
                <th>{{ row[5] }}</th>
                <th>{{ row[6] }}</th>
                <th>{{ row[7] }}</th>
            </tr>
            {% endfor %}
        </table>
  </div>

<h2>Popular Characters</h2>
  <div>
        <table border = "1px">
            <tr style="background: #BCD2EE">
                <th>name</th>
                <th>element</th>
                <th>rarity</th>
                <th>number_of_user_owing</th>
                <th>average_character_level</th>
                <th>average_character_friendship</th>
            </tr>
            {%  for row in data_c %}
            <tr>
                <th>{{ row[0] }}</th>
                <th>{{ row[1] }}</th>
                <th>{{ row[2] }}</th>
                <th>{{ row[3] }}</th>
                <th>{{ row[4] }}</th>
                <th>{{ row[5] }}</th>
            </tr>
            {% endfor %}
        </table>
  </div>

<form method="POST">
<p>
    Order Target:<input type="radio" name="order" value="User">User
    <input type="radio" name="order" value="Character">Character
    <input type="radio" name="order" value="Both">Both<br/>
    Order Type: <br/>
    If choose user: <input type="radio"  name="orderu" value="ulevel"> User Level
    <input type="radio"  name="orderu" value="activate_day"> Activate Day
    <input type="radio"  name="orderu" value="number_of_achievements"> Number of Achievements<br/>
    If choose character or both: <input type="radio"  name="orderb" value="owning_number"> Owning Number
    <input type="radio"  name="orderb" value="average_character_level"> Average Character Level
    <input type="radio"  name="orderb" value="average_character_friendship"> Average Character Friendship<br/>
    NOTE: You can only choose one order type used for order the result<br/>
    <font color=#CE0000>{{wrong}}</font><br/>
    Number of rows to display(defualt is 5):<input type="radio" name="num_row" value="5">5
    <input type="radio" name="num_row" value="10">10
    <input type="radio" name="num_row" value="All">All<br/><br/>
    <input name="search" type="submit" value="search"></p>
</form>

<p><a href="search">Return search page</a></p>
</body>


</html>